@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.guide-section {
  margin: 15px auto 15px auto;
  padding: 10px 30px;
  background-color: aqua;
  width: 95%;
  text-align: center;
}

.guide-article {
  width: 60%;
  padding: 5px;
  margin: auto;
  margin: 1px solid white;
}
