<SectionTitle @title="Test Section Title">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum velit, fermentum sed auctor ac, vehicula at dui. Sed lacinia efficitur velit, nec finibus metus fringilla vitae. Nullam sed imperdiet orci. Mauris nec ultrices turpis. Aliquam ultricies feugiat malesuada. Aliquam maximus, diam a tempus sagittis, eros nisi finibus leo, eget commodo justo magna et urna. Maecenas sagittis quam non eros dignissim, sit amet tincidunt nisi placerat. Phasellus consequat rhoncus orci. Donec lobortis imperdiet nisi eget pellentesque. Proin ut magna metus. Nullam facilisis egestas risus at bibendum. Proin finibus cursus rutrum. In in dui quis odio consequat laoreet dapibus et nisi.
  </p>
</SectionTitle>